<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/csss/about.css">
</head>
<body>
   <div id="box">
        {{>header}}
        <p>This site is Created by Kaushal Kumar Jha . It uses data from mapbox and darksky.</p>
        <div class="photo">
            <img src="img/image.jpg" height="100%" width="100%">
        </div>
        {{>footer}}
   </div>
</body>
</html>