h1{
    font-size: 60px;
    color: #333;
    font-family: Arial;
}

p{
    font-size: 20px;
    font-weight: 500;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 10px;
    text-transform: uppercase;
}
a:hover{
    text-decoration: none;
}
#box{
    max-width: 650px;
    position: relative;
    margin: 0 auto;
}
.photo{
    width: 250px;
    height: 250px;
}
